<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>

		table {
			border-collapse:collapse;
			width:400px;
			margin:20px auto;
		}
		td,th{
			border:1px solid gray;
		}
		
		
	</style>        
</head>
<body>


<div class="workingArea">
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>产品名称</th>
				<th>价格</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p: ${ps}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.name}"></td>
				<td th:text="${p.price}"></td>
			</tr>
		</tbody>
	</table>
</div>

</body>


    
</html>