html,body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #2a2a2a;
}
ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.oneVideo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  box-sizing: border-box;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(42, 42, 42, .9);
  transition: top .5s;
}
.back {
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 70px;
  padding-left: 21px;
  padding-right: 21px;
  background: url('./img/arrow.png') no-repeat center center/15px;
}
.time {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 24px;
  font-size: 20px;
  line-height: 70px;
  color: #c9c9c9;
}
.title {
  font-size: 20px;
  text-align: center;
  color: #fff;
  line-height: 70px;
}
.head-tip {
  position: absolute;
  bottom: -60px;
  right: 30px;
  width: 120px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 50px;
  border-radius: 8px;
  text-align: right;
  color: #f19238;
  background-color: rgba(42, 42, 42, .9);
}
.head-tip::before {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f19238;
  content: "";
}
.board {
  position: absolute;
  right: 30px;
  bottom: 84px;
  font-size: 16px;
}
.small-board {
  width: 76px;
  height: 80px;
  padding-top: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  color: #c9c9c9;
  font-size: 16px;
}
.small-board.active {
  color: #f19238;
}
.video-disc {
  margin-bottom: 21px;
  background: rgba(42, 42, 42, .9) url('./img/brief.png') no-repeat top center/contain;
}
.video-list {
  background: rgba(42, 42, 42, .9) url('./img/view-list.png') no-repeat top center/contain
}
.video-disc.active {
  background-image: url('./img/brief_active.png');
}
.video-list.active {
  background-image: url('./img/view_list_active.png');
}
.disc-board {
  display: none;
  position: absolute;
  bottom: 0;
  right: 127px;
  width: 440px;
  padding: 21px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(42, 42, 42, .9);
}
.disc-title {
  margin-bottom: 11px;
  font-size: 20px;
  line-height: 38px;
  color: #fff;
}
.disc-detail {
  width: 100%;
  height: 230px;
  overflow: scroll;
  font-size: 16px;
  line-height: 30px;
  color: #c9c9c9;
}
.list-board {
  display: none;
  position: absolute;
  bottom: 0;
  right: 127px;
  width: 330px;
  height: 500px;
  overflow: scroll;
  padding: 29px 60px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(42, 42, 42, .9);
}
.list-title {
  margin-bottom: 18px;
  line-height: 24px;
  color: #fff;
  font-size: 20px;
}
.list-line {
  line-height: 45px;
  color: #999;
  font-size: 16px;
}
.list-line.active {
  color: #f19238;
}
.list-line.wait {
  color: #c9c9c9;
}
.list-line:before,
.list-line:after {
  content: " ";
  display: table;
}
.list-line:after {
  clear: both;
}
.list-name {
  float: left;
}
.list-status {
  float: right;
}